.highlight{background:#f0f0f0;}
.highlight .c{color:#60a0b0;font-style:italic;}
.highlight .err{border:1px solid #ff0000;}
.highlight .k{color:#007020;font-weight:bold;}
.highlight .o{color:#666666;}
.highlight .cm{color:#60a0b0;font-style:italic;}
.highlight .cp{color:#007020;}
.highlight .c1{color:#60a0b0;font-style:italic;}
.highlight .cs{color:#60a0b0;background-color:#fff0f0;}
.highlight .gd{color:#a00000;}
.highlight .ge{font-style:italic;}
.highlight .gr{color:#ff0000;}
.highlight .gh{color:#000080;font-weight:bold;}
.highlight .gi{color:#00a000;}
.highlight .go{color:#808080;}
.highlight .gp{color:#c65d09;font-weight:bold;}
.highlight .gs{font-weight:bold;}
.highlight .gu{color:#800080;font-weight:bold;}
.highlight .gt{color:#0040d0;}
.highlight .kc{color:#007020;font-weight:bold;}
.highlight .kd{color:#007020;font-weight:bold;}
.highlight .kn{color:#007020;font-weight:bold;}
.highlight .kp{color:#007020;}
.highlight .kr{color:#007020;font-weight:bold;}
.highlight .kt{color:#902000;}
.highlight .m{color:#40a070;}
.highlight .s{color:#4070a0;}
.highlight .na{color:#4070a0;}
.highlight .nb{color:#007020;}
.highlight .nc{color:#0e84b5;font-weight:bold;}
.highlight .no{color:#60add5;}
.highlight .nd{color:#555555;font-weight:bold;}
.highlight .ni{color:#d55537;font-weight:bold;}
.highlight .ne{color:#007020;}
.highlight .nf{color:#06287e;}
.highlight .nl{color:#002070;font-weight:bold;}
.highlight .nn{color:#0e84b5;font-weight:bold;}
.highlight .nt{color:#062873;font-weight:bold;}
.highlight .nv{color:#bb60d5;}
.highlight .ow{color:#007020;font-weight:bold;}
.highlight .w{color:#bbbbbb;}
.highlight .mf{color:#40a070;}
.highlight .mh{color:#40a070;}
.highlight .mi{color:#40a070;}
.highlight .mo{color:#40a070;}
.highlight .sb{color:#4070a0;}
.highlight .sc{color:#4070a0;}
.highlight .sd{color:#4070a0;font-style:italic;}
.highlight .s2{color:#4070a0;}
.highlight .se{color:#4070a0;font-weight:bold;}
.highlight .sh{color:#4070a0;}
.highlight .si{color:#70a0d0;font-style:italic;}
.highlight .sx{color:#c65d09;}
.highlight .sr{color:#235388;}
.highlight .s1{color:#4070a0;}
.highlight .ss{color:#517918;}
.highlight .bp{color:#007020;}
.highlight .vc{color:#bb60d5;}
.highlight .vg{color:#bb60d5;}
.highlight .vi{color:#bb60d5;}
.highlight .il{color:#40a070;}
