/*****************  style1  *********************/
 /* 修正IE6振动bug */
* html,* html body {background-image:url(about:blank);background-attachment:fixed;}


.navbar-style-1 {
    position: fixed;
    _position:absolute;
    top: 70px;
    _top:expression(eval(document.documentElement.scrollTop + 80));
    right: 10px;
    background: #eee
}

.navbar-style-1 a {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    color: #fff;
    position: relative;
    cursor: pointer;
    text-decoration: none;    
}

.navbar-style-1 a span {
    display: none;
    position: absolute;
    width: 0;
    right: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    text-indent: 10px;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
}

.navbar-style-1 a:hover {
    text-decoration: none;
}

.navbar-style-1 a.hover span{
    display:block;
}

.navbar-style-1 a .iconfont {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 25px;
    color: #B9B9B9;
    vertical-align: middle;
}

.navbar-style-1 a.hover .iconfont, 
.navbar-style-1 a.cur .iconfont {
    color: #fff;
}


/*****************  style2  *********************/

.navbar-style-2 {
    position: fixed;
    _position:absolute;
    border-right: 1px solid #ccc;
    top: 80px;
    width: 76px;
    _top:expression(eval(document.documentElement.scrollTop + 80));
    right: 20px;
}

.navbar-style-2 a {
    position: relative;
    text-decoration: none;
    cursor: pointer;
    zoom :1;
}

.navbar-style-2 a:hover {
    text-decoration: none;
}

.navbar-style-2 a span {
    /*display: inline-block;*/
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 14px;
    text-align: right;
    color: #666;
    -webkit-transition: background 0.5s ease-in;
    -moz-transition: background 0.3s ease-in;
    -ms-transition: background 0.3s ease-in;
    -o-transition: background 0.3s ease-in;
    /*-webkit-transition: color 0.3s ease-in;
    -moz-transition: color 0.3s ease-in;
    -ms-transition: color 0.3s ease-in;
    -o-transition: color 0.3s ease-in;*/
}

.navbar-style-2 a.hover span,
.navbar-style-2 a.cur span
 {
    color: #fff;
}

.navbar-style-2 a .iconfont {
    display: none;
}


/*****************  style3  *********************/

.navbar-style-3 {
    position: fixed;
    _position : absolute;
    top: 80px;
    _top:expression(eval(document.documentElement.scrollTop + 80));
    right: 20px;
    *width: 105px;   /*style为3时，ie6，7下需要指定宽度*/
    background: #6BBDE7;
}

.navbar-style-3 a {
    display: block;
    position: relative;
    text-decoration: none;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    cursor: pointer;
    zoom:1;
}

.navbar-style-3 a:hover {
    text-decoration: none;
}

.navbar-style-3 a span {
    float:right;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 14px;
    text-align: right;
    color: #fff;
}

.navbar-style-3 a .iconfont {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    vertical-align: middle;
    font-size: 16px;
    color: #fff;
}

.navbar-style-3 a.hover,
.navbar-style-3 a.cur {
    background: #3094C9;
}

.navbar-folded {
    width: 30px;
    border-radius : 4px;
}

.navbar-folded .anchor-list {
    /*display:none;*/
}

.navbar-style-3 .anchor-foldBtn {
    width: 30px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    display: none;
}

.navbar-folded div.anchor-foldBtn {
    display: block;
}
