.dialog {
  position: absolute;
  left: -99999px;
  top: -99999px;
}
.dialog .dialog-contentbox {
  padding: 30px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
}
.dialog .dialog-ext-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 28px;
  height: 28px;
  text-decoration: none;
  text-align: center;
  display: block;
  cursor: default;
}
.dialog .dialog-ext-close:hover .dialog-ext-close-x {
  color: #488fcd;
  font-size: 28px;
  line-height: 28px;
  left: 0px;
  top: 0px;
}
.dialog .dialog-ext-close-x {
  font-family: "uxiconfont";
  font-style: normal;
  color: #ccc;
  font-size: 16px;
  line-height: 16px;
  position: absolute;
  left: 6px;
  top: 6px;
}
.dialog-left .dialog-contentbox {
  -webkit-box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.1);
  box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.1);
  border-right: none;
}
.dialog-right .dialog-contentbox {
  -webkit-box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.1);
  border-left: none;
}
.dialog-up .dialog-contentbox {
  -webkit-box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
  border-bottom: none;
}
.dialog-down .dialog-contentbox {
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-top: none;
}
