
@import "../../style/variables.less";
@import "../../style/mixins.less";

.ux-overlay {
    position: absolute;
    left:-99999px;
    top:-99999px;
}

.ux-overlay .ux-contentbox{
    padding: 30px;
    .border-radius(2px);
    .box-shadow(0 0 8px rgba(0, 0, 0, 0.1));
    border: 1px solid #ddd;
}



.ux-ext-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-decoration:none;
    text-align: center;

}
.ux-ext-close:hover .ux-ext-close-x{
    color: #488fcd;
    font-size: 28px;
}

.ux-ext-close-x {
    font-family:"uxiconfont";
    font-style:normal;
    color:#ccc;
    font-size: 16px;
}
