.bx-controls .input {
  float: left;
  margin-left: -19px;
  margin-bottom: 9px;
  width: 16px;
  height: 18px;
  background: url(../../brix.png) 0 -178px;
}
.bx-controls .checkbox {
  padding-left: 19px;
}
/*无障碍支持：图片绝对定位覆盖原生radio checkout替代直接display:none*/
.bx-controls .checkbox, .bx-controls .radio {
    position: relative;
}
.bx-controls .checkbox input, .bx-controls .radio input{
    position: absolute;
    left: -9999px;
    top: -99999px;
}
.bx-controls .checkbox .checked {
  background-position: 0 -214px;
}
.bx-controls .checkbox .disabled {
  background-position: 0 -286px;
}
.bx-controls .checkbox .checked-disabled {
  background-position: 0 -322px;
}
.bx-controls .radio {
  padding-left: 19px;
}
.bx-controls .radio .input {
  background-position: 0 2px;
}
.bx-controls .radio .checked {
  background-position: 0 -34px;
}
.bx-controls .radio .disabled {
  background-position: 0 -106px;
}
.bx-controls .radio .checked-disabled {
  background-position: 0 -142px;
}
