<section>
  <h3>架构</h3>
  {% assign posts = site.categories.arch %}
  {% include _entries.html %}
</section>
<section>
  <h3>Meta</h3>
  {% assign posts = site.categories.meta %}
  {% include _entries.html %}
</section>
<section>
  <h3>Core</h3>
  {% assign posts = site.categories.core %}
  {% include _entries.html %}
</section>
<section>
  <h3>Style</h3>
  {% assign posts = site.categories.style %}
  {% include _entries.html %}
</section>
<section>
  <h3>Gallery</h3>
  {% assign posts = site.categories.gallery %}
  {% include _entries.html %}
</section>
