.module-popup {
	cursor: default;
	display:inline-block;
	*display:inline;
	*zoom:1;
}
.module-popup.module-popup-active {
	position:relative;
	z-index:500;
}
.label-popup {
	display:inline-block;
	*display:inline;
	*zoom:1;
}

.panel-popup {
    cursor: default;
    left: -9999px;
    position: absolute;
    top: -9999px;
    *zoom:1;
    -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.07),1px 2px 5px rgba(0, 0, 0, 0.07);
    -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.07),1px 2px 5px rgba(0, 0, 0, 0.07);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.07),1px 2px 5px rgba(0, 0, 0, 0.07);
}