<!doctype html>
<meta charset="utf-8">
<title>Responsive Layout Generator - Brix Style</title>
<link rel="stylesheet" href="http://etaoux.github.com/brix/dist/brix-min.css">
<link rel="stylesheet" href="imgs/css.css">
<script src="http://a.tbcdn.cn/s/kissy/1.3.0rc/kissy.js"></script>
<script src="app.js"></script>

<div id="r-panel">
    <h6>分辨率</h6>
    <ol class="r-resolution">
        <li class="disabled">720px</li>
        <li class="active base">960px</li>
        <li class="disabled">1200px</li>
        <li class="disabled">1440px</li>
        <li class="disabled">1680px</li>
    </ol>
    <a id="r-save" class="btn btn-blue">保存</a>
</div>
<div id="r-content" class="w960">
    <a class="r-add-section btn btn-size25"><s class="iconfont">&#410</s>新增区域</a>
</div>
