@import 'normalize';

body {
  margin: 0;
  padding: 0;
  background: #f0f0f0 url(../img/bg.png);
  text-align: center;
}
#page {
  width: 1100px;
  margin: 50px auto 0;

  h1 {
    font-size: 80px;
    line-height: 1;
    margin-bottom: 20px;
  }
  h2 {
    font-weight: 300;
    font-size: 40px;
  }
}

#nav {
  padding: 40px 0 20px;

  a {
    display: inline-block;
    margin-right: 10px;
  }
  a:link, a:visited {
    text-decoration: none;
    color: #707070;
  }
  a:hover {
    color: #303030;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
  }
  h3 {
    margin-top: 0;
    color: #333;
  }
  section {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin-right: 10px;
    width: 200px;
  }
  section:last-child {
    margin-right: 0;
  }
}