@import url(http://fonts.googleapis.com/css?family=Architects+Daughter);
.highlight {
  background: #f0f0f0;
}
.highlight .c {
  color: #60a0b0;
  font-style: italic;
}
.highlight .err {
  border: 1px solid #ff0000;
}
.highlight .k {
  color: #007020;
  font-weight: bold;
}
.highlight .o {
  color: #666666;
}
.highlight .cm {
  color: #60a0b0;
  font-style: italic;
}
.highlight .cp {
  color: #007020;
}
.highlight .c1 {
  color: #60a0b0;
  font-style: italic;
}
.highlight .cs {
  color: #60a0b0;
  background-color: #fff0f0;
}
.highlight .gd {
  color: #a00000;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gr {
  color: #ff0000;
}
.highlight .gh {
  color: #000080;
  font-weight: bold;
}
.highlight .gi {
  color: #00a000;
}
.highlight .go {
  color: #808080;
}
.highlight .gp {
  color: #c65d09;
  font-weight: bold;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gu {
  color: #800080;
  font-weight: bold;
}
.highlight .gt {
  color: #0040d0;
}
.highlight .kc {
  color: #007020;
  font-weight: bold;
}
.highlight .kd {
  color: #007020;
  font-weight: bold;
}
.highlight .kn {
  color: #007020;
  font-weight: bold;
}
.highlight .kp {
  color: #007020;
}
.highlight .kr {
  color: #007020;
  font-weight: bold;
}
.highlight .kt {
  color: #902000;
}
.highlight .m {
  color: #40a070;
}
.highlight .s {
  color: #4070a0;
}
.highlight .na {
  color: #4070a0;
}
.highlight .nb {
  color: #007020;
}
.highlight .nc {
  color: #0e84b5;
  font-weight: bold;
}
.highlight .no {
  color: #60add5;
}
.highlight .nd {
  color: #555555;
  font-weight: bold;
}
.highlight .ni {
  color: #d55537;
  font-weight: bold;
}
.highlight .ne {
  color: #007020;
}
.highlight .nf {
  color: #06287e;
}
.highlight .nl {
  color: #002070;
  font-weight: bold;
}
.highlight .nn {
  color: #0e84b5;
  font-weight: bold;
}
.highlight .nt {
  color: #062873;
  font-weight: bold;
}
.highlight .nv {
  color: #bb60d5;
}
.highlight .ow {
  color: #007020;
  font-weight: bold;
}
.highlight .w {
  color: #bbbbbb;
}
.highlight .mf {
  color: #40a070;
}
.highlight .mh {
  color: #40a070;
}
.highlight .mi {
  color: #40a070;
}
.highlight .mo {
  color: #40a070;
}
.highlight .sb {
  color: #4070a0;
}
.highlight .sc {
  color: #4070a0;
}
.highlight .sd {
  color: #4070a0;
  font-style: italic;
}
.highlight .s2 {
  color: #4070a0;
}
.highlight .se {
  color: #4070a0;
  font-weight: bold;
}
.highlight .sh {
  color: #4070a0;
}
.highlight .si {
  color: #70a0d0;
  font-style: italic;
}
.highlight .sx {
  color: #c65d09;
}
.highlight .sr {
  color: #235388;
}
.highlight .s1 {
  color: #4070a0;
}
.highlight .ss {
  color: #517918;
}
.highlight .bp {
  color: #007020;
}
.highlight .vc {
  color: #bb60d5;
}
.highlight .vg {
  color: #bb60d5;
}
.highlight .vi {
  color: #bb60d5;
}
.highlight .il {
  color: #40a070;
}
body {
  background: #f0f0f0 url(../img/bg.png);
  text-align: center;
  font: 14px/1.5 normal Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
}
#logo {
  line-height: 1;
}
#logo .logo {
  display: block;
  background: url(../img/logo.png) no-repeat;
  width: 118px;
  height: 26px;
  text-indent: -9999px;
  opacity: 1;
  -webkit-transition: opacity 0.15s ease-in;
}
#logo .logo:hover {
  opacity: 0.7;
}
#site-nav {
  background: #4E6092;
  position: fixed;
  _position: absolute;
  top: 0;
  left: 0;
  height: 32px;
  line-height: 32px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px;
  z-index: 9999;
}
#site-nav .container {
  margin: 0 auto;
  text-align: left;
}
#site-nav a {
  padding-top: 1px;
  display: inline-block;
  margin-right: 20px;
  text-shadow: rgba(0, 0, 0, 0.7) 0 1px;
}
#site-nav a:link,
#site-nav a:visited {
  color: #eee;
}
#page-nav {
  width: 100%;
  height: 36px;
  line-height: 36px;
  background: #ddd;
  border: 1px solid #ccc;
  border-radius: 2px;
}
#page-nav a {
  float: left;
  padding: 0 15px;
  border-right: 1px solid #ccc;
  border-left: 1px solid #efefef;
}
#page-nav a:first-child {
  border-left: none;
}
#page-nav a:last-child {
  border-right: none;
}
#page-nav.fixed {
  position: fixed;
  border-radius: 0;
  border-left: none;
  border-right: none;
  top: 32px;
  left: 0;
  z-index: 9998;
}
#page-nav.fixed nav {
  width: 990px;
  margin: 0 auto;
}
#page hr.soften {
  height: 1px;
  background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.1), transparent);
  background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, 0.1), transparent);
  background-image: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, 0.1), transparent);
  background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, 0.1), transparent);
  border: 0;
}
#page .highlight {
  max-width: 800px;
  padding: 6px 10px;
  border-radius: 2px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1) inset;
  border: 1px solid #ddd;
  background: #f7f7f7;
  text-align: left;
}
#page .highlight pre {
  margin: 0;
  line-height: 1.4;
}
#page .highlight pre,
#page .highlight code {
  font-family: 'Envy Code R', Monaco, Consolas, monospace;
  font-size: 12px;
  border: none;
  padding: 0;
  background: none;
}
#logo {
  margin: 0 0 20px;
  float: left;
}
#header {
  height: 361px;
  padding-top: 70px;
  margin: 0 auto;
  text-align: left;
  position: relative;
}
#header .stats {
  padding: 0;
  margin: 7px 0 0 40px;
  float: left;
}
#header .slogan {
  position: absolute;
  bottom: 15px;
  right: 20px;
  padding: 0;
  margin: 0;
  font-size: 30px;
  font-weight: bold;
  color: #f0f0f0;
  text-shadow: #000 0 0 10px;
  font-family: 'Architects Daughter', cursive;
}
#header img {
  box-shadow: #000 0 0 3px;
  border-radius: 2px;
}
#header nav {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: rgba(0, 0, 0, 0.4);
}
#header nav a {
  float: left;
  width: 120px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  text-decoration: none;
  padding-top: 2px;
  border-right: 1px dashed #909090;
}
#header nav a:last-child {
  border-right: none;
}
#header nav a:link,
#header nav a:visited {
  color: #fff;
}
#header nav a:hover {
  padding-top: 0;
  border-top: 2px solid rgba(64, 144, 224, 0.7);
  color: #49e;
}
#page {
  margin: 40px auto 50px;
  text-align: left;
}
#page h3 {
  font: 14px bold 'Architects Daughter', cursive, 'Hiragino Sans GB', Helvetica, Arial;
  color: #909090;
}
#page section {
  padding: 30px 0;
}
#page .entries {
  margin: 1em 0;
}
#page .entries a:link,
#page .entries a:visited {
  color: #505050;
}
#page .entries a:hover {
  color: #0063DC;
}
