article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;height:0;}
[hidden]{display:none;}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
html,button,input,select,textarea{font-family:sans-serif;}
body{margin:0;}
a:focus{outline:thin dotted;}
a:hover,a:active{outline:0;}
h1{font-size:2em;margin:0.67em 0;}
h2{font-size:1.5em;margin:0.83em 0;}
h3{font-size:1.17em;margin:1em 0;}
h4{font-size:1em;margin:1.33em 0;}
h5{font-size:0.83em;margin:1.67em 0;}
h6{font-size:0.75em;margin:2.33em 0;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:bold;}
blockquote{margin:1em 40px;}
dfn{font-style:italic;}
mark{background:#ff0;color:#000;}
p,pre{margin:1em 0;}
pre,code,kbd,samp{font-family:monospace, serif;_font-family:'courier new',monospace;font-size:1em;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
q{quotes:none;}
q:before,q:after{content:'';content:none;}
small{font-size:75%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
dl,menu,ol,ul{margin:1em 0;}
dd{margin:0 0 0 40px;}
menu,ol,ul{padding:0 0 0 40px;}
nav ul,nav ol{list-style:none;list-style-image:none;}
img{border:0;-ms-interpolation-mode:bicubic;}
svg:not(:root){overflow:hidden;}
figure{margin:0;}
form{margin:0;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}
legend{border:0;padding:0;white-space:normal;*margin-left:-7px;}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
button,input{line-height:normal;}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible;}
button[disabled],input[disabled]{cursor:default;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}
.highlight{background:#f0f0f0;}
.highlight .c{color:#60a0b0;font-style:italic;}
.highlight .err{border:1px solid #ff0000;}
.highlight .k{color:#007020;font-weight:bold;}
.highlight .o{color:#666666;}
.highlight .cm{color:#60a0b0;font-style:italic;}
.highlight .cp{color:#007020;}
.highlight .c1{color:#60a0b0;font-style:italic;}
.highlight .cs{color:#60a0b0;background-color:#fff0f0;}
.highlight .gd{color:#a00000;}
.highlight .ge{font-style:italic;}
.highlight .gr{color:#ff0000;}
.highlight .gh{color:#000080;font-weight:bold;}
.highlight .gi{color:#00a000;}
.highlight .go{color:#808080;}
.highlight .gp{color:#c65d09;font-weight:bold;}
.highlight .gs{font-weight:bold;}
.highlight .gu{color:#800080;font-weight:bold;}
.highlight .gt{color:#0040d0;}
.highlight .kc{color:#007020;font-weight:bold;}
.highlight .kd{color:#007020;font-weight:bold;}
.highlight .kn{color:#007020;font-weight:bold;}
.highlight .kp{color:#007020;}
.highlight .kr{color:#007020;font-weight:bold;}
.highlight .kt{color:#902000;}
.highlight .m{color:#40a070;}
.highlight .s{color:#4070a0;}
.highlight .na{color:#4070a0;}
.highlight .nb{color:#007020;}
.highlight .nc{color:#0e84b5;font-weight:bold;}
.highlight .no{color:#60add5;}
.highlight .nd{color:#555555;font-weight:bold;}
.highlight .ni{color:#d55537;font-weight:bold;}
.highlight .ne{color:#007020;}
.highlight .nf{color:#06287e;}
.highlight .nl{color:#002070;font-weight:bold;}
.highlight .nn{color:#0e84b5;font-weight:bold;}
.highlight .nt{color:#062873;font-weight:bold;}
.highlight .nv{color:#bb60d5;}
.highlight .ow{color:#007020;font-weight:bold;}
.highlight .w{color:#bbbbbb;}
.highlight .mf{color:#40a070;}
.highlight .mh{color:#40a070;}
.highlight .mi{color:#40a070;}
.highlight .mo{color:#40a070;}
.highlight .sb{color:#4070a0;}
.highlight .sc{color:#4070a0;}
.highlight .sd{color:#4070a0;font-style:italic;}
.highlight .s2{color:#4070a0;}
.highlight .se{color:#4070a0;font-weight:bold;}
.highlight .sh{color:#4070a0;}
.highlight .si{color:#70a0d0;font-style:italic;}
.highlight .sx{color:#c65d09;}
.highlight .sr{color:#235388;}
.highlight .s1{color:#4070a0;}
.highlight .ss{color:#517918;}
.highlight .bp{color:#007020;}
.highlight .vc{color:#bb60d5;}
.highlight .vg{color:#bb60d5;}
.highlight .vi{color:#bb60d5;}
.highlight .il{color:#40a070;}
html,body{height:100%;}
body{font-size:.8em;}
#logo a{display:block;margin:18px 0 0 15px;background:url(../img/logo.png) no-repeat;width:118px;height:26px;text-indent:-9999px;opacity:1;-webkit-transition:opacity 0.15s ease-in;}
#logo a:hover{opacity:0.7;}
#aside{position:fixed;_position:absolute;top:0;left:0;width:200px;height:100%;border-right:1px solid #ddd;background:#f4f5f5;background:-webkit-gradient(linear, left top, right top, from(transparent), color-stop(0.92, transparent), color-stop(0.9201, rgba(244, 244, 244, 0)), to(rgba(231, 231, 231, 0.3))),#f4f5f5;overflow-y:auto;overflow-x:hidden;}#aside h3{padding-left:15px;margin-bottom:5px;color:#666;}
#aside .entries{padding-left:15px;margin-top:0;}#aside .entries li:before{content:'- ';}
#aside .entries li{list-style:none;}
#aside .entries a{color:#888;text-decoration:none;}
#aside .entries a:hover{color:#333;}
#page{margin:0 20px 0 220px;padding-bottom:20px;color:#333;}#page h1,#page h2,#page h3,#page h4{color:#555;}
#page p{max-width:800px;}
#page .caption{padding:10px 10px 10px 40px;}
#page code{border:1px solid #ddd;border-radius:2px;display:inline-block;padding:0 2px;background:#f4f5f5;}
#page .highlight{max-width:800px;padding:6px 10px;border-radius:2px;box-shadow:0 0 7px rgba(0, 0, 0, 0.1) inset;}#page .highlight pre{margin:0;line-height:1.4;}
#page .highlight pre,#page .highlight code{font-family:'Envy Code R',Monaco,Consolas,monospace;font-size:12px;border:none;padding:0;background:none;}
#page .bottom-nav{padding:20px 0;text-align:center;}#page .bottom-nav a:link{text-decoration:none;}
#page .bottom-nav a:hover{color:#f50;}
#page .demo{border:1px solid #ddd;border-radius:2px;padding:5px 10px;box-shadow:0 0 5px rgba(198, 198, 198, 0.4);overflow:auto;}
#footer{margin:20px 0 30px;text-align:center;}
