.highlight {
  background: #f0f0f0;
}
.highlight .c {
  color: #60a0b0;
  font-style: italic;
}
.highlight .err {
  border: 1px solid #ff0000;
}
.highlight .k {
  color: #007020;
  font-weight: bold;
}
.highlight .o {
  color: #666666;
}
.highlight .cm {
  color: #60a0b0;
  font-style: italic;
}
.highlight .cp {
  color: #007020;
}
.highlight .c1 {
  color: #60a0b0;
  font-style: italic;
}
.highlight .cs {
  color: #60a0b0;
  background-color: #fff0f0;
}
.highlight .gd {
  color: #a00000;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gr {
  color: #ff0000;
}
.highlight .gh {
  color: #000080;
  font-weight: bold;
}
.highlight .gi {
  color: #00a000;
}
.highlight .go {
  color: #808080;
}
.highlight .gp {
  color: #c65d09;
  font-weight: bold;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gu {
  color: #800080;
  font-weight: bold;
}
.highlight .gt {
  color: #0040d0;
}
.highlight .kc {
  color: #007020;
  font-weight: bold;
}
.highlight .kd {
  color: #007020;
  font-weight: bold;
}
.highlight .kn {
  color: #007020;
  font-weight: bold;
}
.highlight .kp {
  color: #007020;
}
.highlight .kr {
  color: #007020;
  font-weight: bold;
}
.highlight .kt {
  color: #902000;
}
.highlight .m {
  color: #40a070;
}
.highlight .s {
  color: #4070a0;
}
.highlight .na {
  color: #4070a0;
}
.highlight .nb {
  color: #007020;
}
.highlight .nc {
  color: #0e84b5;
  font-weight: bold;
}
.highlight .no {
  color: #60add5;
}
.highlight .nd {
  color: #555555;
  font-weight: bold;
}
.highlight .ni {
  color: #d55537;
  font-weight: bold;
}
.highlight .ne {
  color: #007020;
}
.highlight .nf {
  color: #06287e;
}
.highlight .nl {
  color: #002070;
  font-weight: bold;
}
.highlight .nn {
  color: #0e84b5;
  font-weight: bold;
}
.highlight .nt {
  color: #062873;
  font-weight: bold;
}
.highlight .nv {
  color: #bb60d5;
}
.highlight .ow {
  color: #007020;
  font-weight: bold;
}
.highlight .w {
  color: #bbbbbb;
}
.highlight .mf {
  color: #40a070;
}
.highlight .mh {
  color: #40a070;
}
.highlight .mi {
  color: #40a070;
}
.highlight .mo {
  color: #40a070;
}
.highlight .sb {
  color: #4070a0;
}
.highlight .sc {
  color: #4070a0;
}
.highlight .sd {
  color: #4070a0;
  font-style: italic;
}
.highlight .s2 {
  color: #4070a0;
}
.highlight .se {
  color: #4070a0;
  font-weight: bold;
}
.highlight .sh {
  color: #4070a0;
}
.highlight .si {
  color: #70a0d0;
  font-style: italic;
}
.highlight .sx {
  color: #c65d09;
}
.highlight .sr {
  color: #235388;
}
.highlight .s1 {
  color: #4070a0;
}
.highlight .ss {
  color: #517918;
}
.highlight .bp {
  color: #007020;
}
.highlight .vc {
  color: #bb60d5;
}
.highlight .vg {
  color: #bb60d5;
}
.highlight .vi {
  color: #bb60d5;
}
.highlight .il {
  color: #40a070;
}
.btn {
  box-sizing: content-box;
  display: inline-block;
  border: 1px solid #ddd;
  *border: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  *margin-right: .3em;
  margin-bottom: 0;
  padding: 0 10px;
  *padding: 1px 10px;
  width: auto;
  height: 21px;
  line-height: 21px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  border-bottom-color: #bbb;
  background-color: #f4f4f4;
  background-image: -moz-linear-gradient(top, #f8f8f8, #eeeeee);
  background-image: -ms-linear-gradient(top, #f8f8f8, #eeeeee);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f8f8f8), to(#eeeeee));
  background-image: -webkit-linear-gradient(top, #f8f8f8, #eeeeee);
  background-image: -o-linear-gradient(top, #f8f8f8, #eeeeee);
  background-image: linear-gradient(top, #f8f8f8, #eeeeee);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#eeeeee', GradientType=0);
}
.btn,
.btn:hover,
.btn:visited {
  color: #333!important;
}
.btn:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #ededed;
  background-image: -moz-linear-gradient(top, #f2f2f2, #e6e6e6);
  background-image: -ms-linear-gradient(top, #f2f2f2, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #f2f2f2, #e6e6e6);
  background-image: -o-linear-gradient(top, #f2f2f2, #e6e6e6);
  background-image: linear-gradient(top, #f2f2f2, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#e6e6e6', GradientType=0);
}
.btn:active {
  background-color: #ebebeb;
  background-image: -moz-linear-gradient(top, #e6e6e6, #f2f2f2);
  background-image: -ms-linear-gradient(top, #e6e6e6, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e6e6e6), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #e6e6e6, #f2f2f2);
  background-image: -o-linear-gradient(top, #e6e6e6, #f2f2f2);
  background-image: linear-gradient(top, #e6e6e6, #f2f2f2);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e6e6', endColorstr='#f2f2f2', GradientType=0);
}
.btn .iconfont {
  font-size: 12px!important;
  font-weight: normal;
}
/*group btn*/
.btn-group .btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-left-width: 0;
  /*border-right-width: 0;*/

}
.btn-group .btn:first-child {
  border-left-width: 1px;
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
}
.btn-group .btn:last-child {
  /*border-right-width: 1px;*/

  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
}
.btn-red {
  border-color: transparent;
  border-bottom-color: #c21b1b;
  background-color: #ff3636;
  background-image: -moz-linear-gradient(top, #ff4444, #ff2222);
  background-image: -ms-linear-gradient(top, #ff4444, #ff2222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff4444), to(#ff2222));
  background-image: -webkit-linear-gradient(top, #ff4444, #ff2222);
  background-image: -o-linear-gradient(top, #ff4444, #ff2222);
  background-image: linear-gradient(top, #ff4444, #ff2222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4444', endColorstr='#ff2222', GradientType=0);
}
.btn-red,
.btn-red:hover,
.btn-red:visited {
  color: #FFF!important;
}
.btn-red:hover {
  background-color: #e41b1b;
  background-image: -moz-linear-gradient(top, #ee2020, #d51314);
  background-image: -ms-linear-gradient(top, #ee2020, #d51314);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee2020), to(#d51314));
  background-image: -webkit-linear-gradient(top, #ee2020, #d51314);
  background-image: -o-linear-gradient(top, #ee2020, #d51314);
  background-image: linear-gradient(top, #ee2020, #d51314);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee2020', endColorstr='#d51314', GradientType=0);
}
.btn-red:active {
  background-color: #df1819;
  background-image: -moz-linear-gradient(top, #d51314, #ee2020);
  background-image: -ms-linear-gradient(top, #d51314, #ee2020);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d51314), to(#ee2020));
  background-image: -webkit-linear-gradient(top, #d51314, #ee2020);
  background-image: -o-linear-gradient(top, #d51314, #ee2020);
  background-image: linear-gradient(top, #d51314, #ee2020);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d51314', endColorstr='#ee2020', GradientType=0);
}
.btn-orange {
  border-color: transparent;
  border-bottom-color: #cf370c;
  background-color: #ff4e00;
  background-image: -moz-linear-gradient(top, #ff5500, #ff4400);
  background-image: -ms-linear-gradient(top, #ff5500, #ff4400);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff5500), to(#ff4400));
  background-image: -webkit-linear-gradient(top, #ff5500, #ff4400);
  background-image: -o-linear-gradient(top, #ff5500, #ff4400);
  background-image: linear-gradient(top, #ff5500, #ff4400);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5500', endColorstr='#ff4400', GradientType=0);
}
.btn-orange,
.btn-orange:hover,
.btn-orange:visited {
  color: #FFF!important;
}
.btn-orange:hover {
  background-color: #ef4000;
  background-image: -moz-linear-gradient(top, #ff4400, #d73900);
  background-image: -ms-linear-gradient(top, #ff4400, #d73900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff4400), to(#d73900));
  background-image: -webkit-linear-gradient(top, #ff4400, #d73900);
  background-image: -o-linear-gradient(top, #ff4400, #d73900);
  background-image: linear-gradient(top, #ff4400, #d73900);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4400', endColorstr='#d73900', GradientType=0);
}
.btn-orange:active {
  background-color: #e73d00;
  background-image: -moz-linear-gradient(top, #d73900, #ff4400);
  background-image: -ms-linear-gradient(top, #d73900, #ff4400);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d73900), to(#ff4400));
  background-image: -webkit-linear-gradient(top, #d73900, #ff4400);
  background-image: -o-linear-gradient(top, #d73900, #ff4400);
  background-image: linear-gradient(top, #d73900, #ff4400);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d73900', endColorstr='#ff4400', GradientType=0);
}
.btn-blue {
  border-color: transparent;
  border-bottom-color: #0960ab;
  background-color: #4288c5;
  background-image: -moz-linear-gradient(top, #488fcd, #3a7db8);
  background-image: -ms-linear-gradient(top, #488fcd, #3a7db8);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#488fcd), to(#3a7db8));
  background-image: -webkit-linear-gradient(top, #488fcd, #3a7db8);
  background-image: -o-linear-gradient(top, #488fcd, #3a7db8);
  background-image: linear-gradient(top, #488fcd, #3a7db8);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#488fcd', endColorstr='#3a7db8', GradientType=0);
}
.btn-blue,
.btn-blue:hover,
.btn-blue:visited {
  color: #FFF!important;
}
.btn-blue:hover {
  background-color: #3579b5;
  background-image: -moz-linear-gradient(top, #4087c6, #25659c);
  background-image: -ms-linear-gradient(top, #4087c6, #25659c);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4087c6), to(#25659c));
  background-image: -webkit-linear-gradient(top, #4087c6, #25659c);
  background-image: -o-linear-gradient(top, #4087c6, #25659c);
  background-image: linear-gradient(top, #4087c6, #25659c);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4087c6', endColorstr='#25659c', GradientType=0);
}
.btn-blue:active {
  background-color: #3073ad;
  background-image: -moz-linear-gradient(top, #25659c, #4087c6);
  background-image: -ms-linear-gradient(top, #25659c, #4087c6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#25659c), to(#4087c6));
  background-image: -webkit-linear-gradient(top, #25659c, #4087c6);
  background-image: -o-linear-gradient(top, #25659c, #4087c6);
  background-image: linear-gradient(top, #25659c, #4087c6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#25659c', endColorstr='#4087c6', GradientType=0);
}
.btn-disabled {
  border: 1px solid #e0e0e0;
  border-bottom-color: #ccc;
  cursor: default;
}
.btn-disabled,
.btn-disabled:hover,
.btn-disabled:visited {
  color: #ccc !important;
  background-color: #ededed;
  background-image: -moz-linear-gradient(top, #f2f2f2, #e6e6e6);
  background-image: -ms-linear-gradient(top, #f2f2f2, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #f2f2f2, #e6e6e6);
  background-image: -o-linear-gradient(top, #f2f2f2, #e6e6e6);
  background-image: linear-gradient(top, #f2f2f2, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#e6e6e6', GradientType=0);
}
.btn-size45,
.btn-xlarge {
  padding: 0 20px;
  height: 43px;
  line-height: 43px;
  font-size: 18px;
}
.btn-size45 .iconfont,
.btn-xlarge .iconfont {
  font-size: 18px!important;
}
.btn-size40,
.btn-large {
  padding: 0 20px;
  height: 38px;
  line-height: 38px;
  font-size: 14px;
}
.btn-size40 .iconfont,
.btn-large .iconfont {
  font-size: 14px!important;
}
.btn-size30,
.btn-medium {
  height: 28px;
  line-height: 28px;
  padding: 0 20px;
}
.btn-size28,
.btn-small {
  height: 26px;
  line-height: 26px;
  padding: 0 20px;
}
.btn-size25,
.btn-xsmall {
  height: 23px;
  line-height: 23px;
}
.container {
  margin: 0 auto;
  width: 990px;
}
h1,
h2,
h3,
h4,
h5,
p,
pre {
  margin: 1em 0;
}
body {
  background: #f0f0f0 url(../img/bg.png);
  text-align: center;
  font: 14px/1.5 normal Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 28px;
}
#logo {
  line-height: 1;
}
#logo .logo {
  display: block;
  background: url(../img/logo.png) no-repeat;
  width: 118px;
  height: 26px;
  text-indent: -9999px;
  opacity: 1;
  -webkit-transition: opacity 0.15s ease-in;
}
#logo .logo:hover {
  opacity: 0.7;
}
#site-nav {
  background: #4E6092;
  position: fixed;
  _position: absolute;
  top: 0;
  left: 0;
  height: 32px;
  line-height: 32px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px;
  z-index: 9999;
}
#site-nav .container {
  margin: 0 auto;
  text-align: left;
}
#site-nav a {
  padding-top: 1px;
  display: inline-block;
  margin-right: 20px;
  text-shadow: rgba(0, 0, 0, 0.7) 0 1px;
}
#site-nav a:link,
#site-nav a:visited {
  color: #eee;
}
#page-nav {
  width: 100%;
  height: 36px;
  line-height: 36px;
}
#page-nav a {
  float: left;
  padding: 0 15px;
  border-right: 1px solid #ccc;
  border-left: 1px solid #efefef;
}
#page-nav a:first-child {
  border-left: none;
}
#page-nav a:last-child {
  border-right: none;
}
#page-nav nav {
  background: #ddd;
  border: 1px solid #ccc;
  border-radius: 2px;
}
#page-nav.affix nav {
  position: fixed;
  border-radius: 0;
  border-left: none;
  border-right: none;
  top: 32px;
  left: 0;
  z-index: 9998;
  width: 100%;
}
#page-nav.affix nav .container {
  margin: 0 auto;
}
#page hr.soften {
  height: 1px;
  background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.1), transparent);
  background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, 0.1), transparent);
  background-image: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, 0.1), transparent);
  background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, 0.1), transparent);
  border: 0;
}
#page .highlight {
  max-width: 800px;
  padding: 6px 10px;
  border-radius: 2px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1) inset;
  border: 1px solid #ddd;
  background: #f7f7f7;
  text-align: left;
}
#page .highlight pre {
  margin: 0;
  line-height: 1.4;
}
#page .highlight pre,
#page .highlight code {
  font-family: 'Envy Code R', Monaco, Consolas, monospace;
  font-size: 12px;
  border: none;
  padding: 0;
  background: none;
}
html,
body {
  height: 100%;
}
body {
  font-size: .8em;
  text-align: left;
  background: #fff;
  padding-top: 35px;
}
#site-nav .container {
  margin: 0;
  margin-left: 220px;
  font-size: 14px;
}
#logo {
  margin-bottom: 5px;
}
#logo a {
  display: block;
  margin: 18px 0 0 15px;
  background: url(../img/logo.png) no-repeat;
  width: 118px;
  height: 26px;
  text-indent: -9999px;
  opacity: 1;
  -webkit-transition: opacity 0.15s ease-in;
}
#logo a:hover {
  opacity: 0.7;
}
#aside {
  position: fixed;
  _position: absolute;
  top: 32px;
  left: 0;
  width: 200px;
  height: 100%;
  border-right: 1px solid #ddd;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(0.92, transparent), color-stop(0.9201, rgba(244, 244, 244, 0)), to(rgba(231, 231, 231, 0.3))), #f4f5f5;
  overflow-y: auto;
  overflow-x: hidden;
}
#aside section {
  padding-bottom: 5px;
}
#aside h3 {
  margin: 0;
  padding: 5px 15px 5px;
  color: #666;
  font-size: 14px;
  position: relative;
}
#aside .entries {
  padding-left: 32px;
  margin-top: 0;
}
#aside .entries li {
  list-style: circle;
}
#aside .entries a {
  color: #888;
  text-decoration: none;
}
#aside .entries a:hover {
  color: #333;
}
#aside .arrow {
  top: 8px;
  right: 15px;
  border-color: #f4f5f5 #f4f5f5 #666;
}
#aside .collapsed {
  height: 20px;
  overflow: hidden;
}
#aside .collapsed .arrow {
  top: 12px;
  border-color: #666 #f4f5f5 #f4f5f5;
}
#aside .current .arrow {
  display: none;
}
#page {
  margin-left: 200px;
  padding-bottom: 20px;
  color: #333;
}
#page h1,
#page h2,
#page h3,
#page h4 {
  color: #555;
}
#page article {
  padding: 0 20px;
}
#page .title-bar {
  padding: 20px 20px 6px;
  margin-bottom: 20px;
  line-height: 1;
  border-bottom: 1px solid #eee;
}
#page .title-bar h1 {
  float: left;
  margin: 0;
  margin-right: 20px;
  font-size: 26px;
}
#page .title-bar .caption {
  float: left;
  margin: 12px 0 0;
  color: #777;
}
#page h2 {
  font-size: 20px;
}
#page h3 {
  font-size: 16px;
}
#page h4 {
  font-size: 14px;
}
#page p,
#page ul,
#page ol,
#page hr.soften,
#page .bottom-nav {
  max-width: 800px;
}
#page img {
  max-width: 100%;
}
#page p code,
#page h1 code,
#page h2 code,
#page h3 code,
#page h4 code,
#page .content > pre code,
#page p kbd,
#page h1 kbd,
#page h2 kbd,
#page h3 kbd,
#page h4 kbd,
#page .content > pre kbd,
#page p samp,
#page h1 samp,
#page h2 samp,
#page h3 samp,
#page h4 samp,
#page .content > pre samp {
  border: 1px solid #ddd;
  border-radius: 2px;
  display: inline-block;
  padding: 0 2px;
  background: #f4f5f5;
  font-family: 'Envy Code R', Monaco, Consolas, monospace;
  font-size: 12px;
  line-height: 1.2;
}
#page ul {
  padding-left: 30px;
}
#page ul li {
  list-style: circle;
}
#page ol {
  padding-left: 30px;
}
#page ol li {
  list-style: decimal;
}
#page table {
  margin: 10px 0;
  border: 1px solid #ddd;
  border-right: none;
  border-bottom: none;
}
#page table th,
#page table td {
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-left: none;
  border-top: none;
}
#page table th {
  background: #f0f0f0;
  color: #555;
}
#page .bottom-nav {
  padding: 20px 0;
  text-align: center;
}
#page .bottom-nav a:link {
  text-decoration: none;
}
#page .bottom-nav a:hover {
  color: #f50;
}
#page .demo {
  border: 1px solid #ddd;
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(198, 198, 198, 0.4);
  overflow: auto;
  margin: 10px 0;
}
#page .demo iframe {
  width: 100%;
}
#page .highlight {
  margin: 10px 0;
}
#page .nutshell {
  padding: 1px 20px;
  background: #eee;
  max-width: 760px;
}
#footer {
  margin: 20px 0 30px;
  text-align: center;
}
.table-of-contents {
  position: fixed;
  top: 74px;
  right: 20px;
  border-radius: 2px;
  background: #fff;
  border: 1px solid #eee;
  white-space: nowrap;
}
.table-of-contents  > div {
  padding: 4px 10px;
}
.table-of-contents ul {
  padding-left: 16px;
}
.table-of-contents li {
  list-style: circle;
}
.table-of-contents .toggle-toc {
  position: relative;
  display: block;
  margin-bottom: 2px;
}
.table-of-contents .toggle-toc:hover b {
  border-color: #fff #fff #666;
  top: 3px;
}
.table-of-contents.collapsed {
  height: 25px;
  width: 60px;
  overflow: hidden;
}
.collapsed .arrow {
  top: 6px;
  border-color: #666 #fff #fff;
}
.arrow {
  position: absolute;
  right: 0;
  width: 0;
  height: 0;
  border-width: 4px 4px;
  border-style: solid;
  border-color: #fff #fff #666;
  top: 3px;
  font-size: 0;
  line-height: 0;
  -moz-transition: -moz-transform 0.2s ease-in;
  -o-transition: -o-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
}
