/*! normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/*
 * Prevents modern browsers from displaying 'audio' without controls
 * Remove excess height in iOS5 devices
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
[hidden] {
  display: none;
}
/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  font-size: 100%;
  /* 1 */

  -webkit-text-size-adjust: 100%;
  /* 2 */

  -ms-text-size-adjust: 100%;
  /* 2 */

}
/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
/*
 * Addresses margins handled incorrectly in IE6/7
 */
body {
  margin: 0;
}
/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
a:focus {
  outline: thin dotted;
}
/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:hover,
a:active {
  outline: 0;
}
/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}
/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
/*
 * Addresses styling not present in S5, Chrome
 */
dfn {
  font-style: italic;
}
/*
 * Addresses styling not present in IE6/7/8/9
 */
mark {
  background: #ff0;
  color: #000;
}
/*
 * Addresses margins set differently in IE6/7
 */
p,
pre {
  margin: 1em 0;
}
/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
/*
 * Improves readability of pre-formatted text in all browsers
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
q {
  quotes: none;
}
/* 2 */
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 75%;
}
/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* =============================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
/*
 * Addresses paddings set differently in IE6/7
 */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
/*
 * Corrects list images handled incorrectly in IE7
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */

  -ms-interpolation-mode: bicubic;
  /* 2 */

}
/*
 * Corrects overflow displayed oddly in IE9
 */
svg:not(:root) {
  overflow: hidden;
}
/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
figure {
  margin: 0;
}
/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
form {
  margin: 0;
}
/*
 * Define consistent border, margin, and padding
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3
 * 3. Corrects alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  /* 1 */

  padding: 0;
  white-space: normal;
  /* 2 */

  *margin-left: -7px;
  /* 3 */

}
/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */

  margin: 0;
  /* 2 */

  vertical-align: baseline;
  /* 3 */

  *vertical-align: middle;
  /* 3 */

}
/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
button,
input {
  line-height: normal;
  /* 1 */

}
/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */

  -webkit-appearance: button;
  /* 2 */

  *overflow: visible;
  /* 3 */

}
/*
 * Re-set default cursor for disabled elements
 */
button[disabled],
input[disabled] {
  cursor: default;
}
/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */

  padding: 0;
  /* 2 */

  *height: 13px;
  /* 3 */

  *width: 13px;
  /* 3 */

}
/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */

  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */

  box-sizing: content-box;
}
/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
textarea {
  overflow: auto;
  /* 1 */

  vertical-align: top;
  /* 2 */

}
/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.highlight {
  background: #f0f0f0;
}
.highlight .c {
  color: #60a0b0;
  font-style: italic;
}
/* Comment */
.highlight .err {
  border: 1px solid #ff0000;
}
/* Error */
.highlight .k {
  color: #007020;
  font-weight: bold;
}
/* Keyword */
.highlight .o {
  color: #666666;
}
/* Operator */
.highlight .cm {
  color: #60a0b0;
  font-style: italic;
}
/* Comment.Multiline */
.highlight .cp {
  color: #007020;
}
/* Comment.Preproc */
.highlight .c1 {
  color: #60a0b0;
  font-style: italic;
}
/* Comment.Single */
.highlight .cs {
  color: #60a0b0;
  background-color: #fff0f0;
}
/* Comment.Special */
.highlight .gd {
  color: #a00000;
}
/* Generic.Deleted */
.highlight .ge {
  font-style: italic;
}
/* Generic.Emph */
.highlight .gr {
  color: #ff0000;
}
/* Generic.Error */
.highlight .gh {
  color: #000080;
  font-weight: bold;
}
/* Generic.Heading */
.highlight .gi {
  color: #00a000;
}
/* Generic.Inserted */
.highlight .go {
  color: #808080;
}
/* Generic.Output */
.highlight .gp {
  color: #c65d09;
  font-weight: bold;
}
/* Generic.Prompt */
.highlight .gs {
  font-weight: bold;
}
/* Generic.Strong */
.highlight .gu {
  color: #800080;
  font-weight: bold;
}
/* Generic.Subheading */
.highlight .gt {
  color: #0040d0;
}
/* Generic.Traceback */
.highlight .kc {
  color: #007020;
  font-weight: bold;
}
/* Keyword.Constant */
.highlight .kd {
  color: #007020;
  font-weight: bold;
}
/* Keyword.Declaration */
.highlight .kn {
  color: #007020;
  font-weight: bold;
}
/* Keyword.Namespace */
.highlight .kp {
  color: #007020;
}
/* Keyword.Pseudo */
.highlight .kr {
  color: #007020;
  font-weight: bold;
}
/* Keyword.Reserved */
.highlight .kt {
  color: #902000;
}
/* Keyword.Type */
.highlight .m {
  color: #40a070;
}
/* Literal.Number */
.highlight .s {
  color: #4070a0;
}
/* Literal.String */
.highlight .na {
  color: #4070a0;
}
/* Name.Attribute */
.highlight .nb {
  color: #007020;
}
/* Name.Builtin */
.highlight .nc {
  color: #0e84b5;
  font-weight: bold;
}
/* Name.Class */
.highlight .no {
  color: #60add5;
}
/* Name.Constant */
.highlight .nd {
  color: #555555;
  font-weight: bold;
}
/* Name.Decorator */
.highlight .ni {
  color: #d55537;
  font-weight: bold;
}
/* Name.Entity */
.highlight .ne {
  color: #007020;
}
/* Name.Exception */
.highlight .nf {
  color: #06287e;
}
/* Name.Function */
.highlight .nl {
  color: #002070;
  font-weight: bold;
}
/* Name.Label */
.highlight .nn {
  color: #0e84b5;
  font-weight: bold;
}
/* Name.Namespace */
.highlight .nt {
  color: #062873;
  font-weight: bold;
}
/* Name.Tag */
.highlight .nv {
  color: #bb60d5;
}
/* Name.Variable */
.highlight .ow {
  color: #007020;
  font-weight: bold;
}
/* Operator.Word */
.highlight .w {
  color: #bbbbbb;
}
/* Text.Whitespace */
.highlight .mf {
  color: #40a070;
}
/* Literal.Number.Float */
.highlight .mh {
  color: #40a070;
}
/* Literal.Number.Hex */
.highlight .mi {
  color: #40a070;
}
/* Literal.Number.Integer */
.highlight .mo {
  color: #40a070;
}
/* Literal.Number.Oct */
.highlight .sb {
  color: #4070a0;
}
/* Literal.String.Backtick */
.highlight .sc {
  color: #4070a0;
}
/* Literal.String.Char */
.highlight .sd {
  color: #4070a0;
  font-style: italic;
}
/* Literal.String.Doc */
.highlight .s2 {
  color: #4070a0;
}
/* Literal.String.Double */
.highlight .se {
  color: #4070a0;
  font-weight: bold;
}
/* Literal.String.Escape */
.highlight .sh {
  color: #4070a0;
}
/* Literal.String.Heredoc */
.highlight .si {
  color: #70a0d0;
  font-style: italic;
}
/* Literal.String.Interpol */
.highlight .sx {
  color: #c65d09;
}
/* Literal.String.Other */
.highlight .sr {
  color: #235388;
}
/* Literal.String.Regex */
.highlight .s1 {
  color: #4070a0;
}
/* Literal.String.Single */
.highlight .ss {
  color: #517918;
}
/* Literal.String.Symbol */
.highlight .bp {
  color: #007020;
}
/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #bb60d5;
}
/* Name.Variable.Class */
.highlight .vg {
  color: #bb60d5;
}
/* Name.Variable.Global */
.highlight .vi {
  color: #bb60d5;
}
/* Name.Variable.Instance */
.highlight .il {
  color: #40a070;
}
/* Literal.Number.Integer.Long */html,
body {
  height: 100%;
}
body {
  font-size: .8em;
}
#logo a {
  display: block;
  margin: 18px 0 0 15px;
  background: url(../img/logo.png) no-repeat;
  width: 118px;
  height: 26px;
  text-indent: -9999px;
  opacity: 1;
  -webkit-transition: opacity 0.15s ease-in;
}
#logo a:hover {
  opacity: 0.7;
}
#aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  border-right: 1px solid #ddd;
  background: #f4f5f5;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(0.92, transparent), color-stop(0.9201, rgba(244, 244, 244, 0)), to(rgba(231, 231, 231, 0.3))), #f4f5f5;
  overflow-y: auto;
  overflow-x: hidden;
}
#aside h3 {
  padding-left: 15px;
  margin-bottom: 5px;
  color: #666;
}
#aside .entries {
  padding-left: 15px;
  margin-top: 0;
}
#aside .entries li:before {
  content: '- ';
}
#aside .entries li {
  list-style: none;
}
#aside .entries a {
  color: #888;
  text-decoration: none;
}
#aside .entries a:hover {
  color: #333;
}
#page {
  margin-left: 220px;
  padding-bottom: 20px;
  max-width: 800px;
  color: #555;
}
#page .caption {
  padding: 10px 10px 10px 40px;
}
#page code {
  border: 1px solid #ddd;
  border-radius: 2px;
  display: inline-block;
  padding: 0 2px;
  background: #f4f5f5;
}
#page .highlight {
  padding: 6px 10px;
  border-radius: 2px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1) inset;
}
#page .highlight pre {
  margin: 0;
  line-height: 1.4;
}
#page .highlight pre,
#page .highlight code {
  font-family: 'Envy Code R', Monaco, Consolas, monospace;
  font-size: 12px;
  border: none;
  padding: 0;
  background: none;
}
#footer {
  margin: 20px 0 30px;
  text-align: center;
}
.bottom-nav {
  padding: 20px 0;
  text-align: center;
}
.bottom-nav a:link {
  text-decoration: none;
}
.bottom-nav a:hover {
  color: #f50;
}
