// Buttons.less
// Base styles for various buttons
// -------------------------------------------------------------

.btn {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;
  overflow: visible;
  border: 1px solid #ddd;
  .border-radius(2px);
  padding: 0 10px;
  height: 21px;
  line-height: 21px;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}
.btn,
.btn:hover,
.btn:visited {
  color: #333;
}

.btn {
  border-bottom-color: #bbb;
  #gradient > .vertical(#f8f8f8, #eee);
}
.btn:hover {
  #gradient > .vertical(#f2f2f2, #e6e6e6);
}
.btn:active {
  #gradient > .vertical(#e6e6e6, #f2f2f2);
}

// red button
.btn-red,
.btn-red:hover,
.btn-red:visited {
  color: #FFF;
}

.btn-red {
  border-color: transparent;
  border-bottom-color: #c21b1b;
  #gradient > .vertical(#f44, #f22);
}
.btn-red:hover {
  #gradient > .vertical(#ee2020, #d51314);
}
.btn-red:active {
  #gradient > .vertical(#d51314, #ee2020);
}

// orange button
.btn-orange,
.btn-orange:hover,
.btn-orange:active,
.btn-orange:visited {
  color: #FFF;
}

.btn-orange {
  border-color: transparent;
  border-bottom-color: #cf370c;
  #gradient > .vertical(#f50, #f40);
}
.btn-orange:hover {
  #gradient > .vertical(#f40, #d73900);
}
.btn-orange:active {
  #gradient > .vertical(#d73900, #f40);
}

// blue button
.btn-blue,
.btn-blue:hover,
.btn-blue:active,
.btn-blue:visited {
  color: #FFF;
}

.btn-blue {
  border-color: transparent;
  border-bottom-color: #0960ab;
  #gradient > .vertical(#488fcd, #3a7db8);
}
.btn-blue:hover {
  #gradient > .vertical(#4087c6, #25659c);
}
.btn-blue:active {
  #gradient > .vertical(#25659c, #4087c6);
}

// disabled button
.btn-disabled,
.btn-disabled:hover {
  #gradient > .vertical(#f2f2f2, #e6e6e6);
  color: #ccc;
  cursor: default;
}

//size 45px buttons
.btn-size45 {
  height: 43px;
  line-height: 43px;
  font-size: 18px;
  padding: 0 20px;
}

.btn-size40 {
  height: 38px;
  line-height: 38px;
  font-size: 14px;
  padding: 0 20px;
}

.btn-size30 {
  height: 28px;
  line-height: 28px;
  padding: 0 20px;
}

.btn-size28 {
  height: 26px;
  line-height: 26px;
  padding: 0 20px;
}

.btn-size25 {
  height: 23px;
  line-height: 23px;
}
