.bx-etao-footer {
  border-top: 1px solid #CBCBCB;
  text-align: center;
  padding: 30px 0;
  line-height: 1em;
}
.bx-common-links {
  margin-bottom: 15px;
}
.bx-corp-links {
  margin: 15px 0;
}
.bx-etao-footer .bx-footer-copyright {
color: #acacac;
}
.bx-common-links a {
color: #606060;
padding: 0 10px;

}
.bx-corp-links a {
  color: #606060;
}

.bx-corp-links  .bx-footer-split {
color: #666;
padding-right: 10px;
padding-left: 5px;
border-right: 1px solid #d0d0d0;
border-left: none;
}
.bx-corp-links  .bx-footer-nosplit {
border: none;
margin: 0 1px;
padding: 0;
}
.bx-corp-links .last-link {
border-right: none;
}
.bx-corp-links  .common-name {
  color: #acacac;
}
.etao-copyright-no {
  margin-left: 20px;
}
.bx-footer-sep {
  color: #ACACAC;
  margin: 5px 0;
}
.etao-copyright-alone span {
  display: block;
  line-height: 1em;
  
}
.etao-copyright-alone .etao-copyright-no {
  margin-top: 10px;
}
.bx-footer-zuanshi {
  width: 89px;
  height: 87px;
  background: url(http://img03.taobaocdn.com/tps/i3/T15XvFXeNbXXX.NiPr-89-87.png) no-repeat;
  _background: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://img03.taobaocdn.com/tps/i3/T15XvFXeNbXXX.NiPr-89-87.png',sizingMethod='crop');
  margin: 20px auto 0;
}
