<div bx-brick="dropdown" bx-path="brix/gallery/dropdown/1.0/dropdown" bx-datakey="dropdown_list" bx-subtmpl="dropdown" class="dropdown">
    <a class="dropdown-a">
        {{#dropdown_list}}
        {{#selected}}
        <span class="dropdown-span" value="{{value}}">{{text}}</span>
        <i class="dropdown-icon"></i>
        {{/selected}}
        {{/dropdown_list}}
    </a>
    <ul class="dropdown-list">
        {{#dropdown_list}}
        <li class="dropdown-item{{#selected}} dropdown-itemselected{{/selected}}" value="{{value}}">{{text}}</li>
        {{/dropdown_list}}
    </ul>
</div>
