@import "../../style/variables.less";
@import "../../style/mixins.less";

.breadcrumbs{
	 -webkit-text-size-adjust: none;
}

.breadcrumbs .breadcrumbs-item{
    padding:0 10px;
    height: 25px;
    line-height: 25px;
    float: left;
    list-style-type:none;
    margin: 0;
}
.breadcrumbs .breadcrumbs-itemsplit{
	padding:0;
}

.breadcrumbs .breadcrumbs-itemsplit .icon-arrow-right{
	font-size:8px;
	display: block;
}

.breadcrumbs .breadcrumbs-itemdropdown{
	padding: 0 6px;
}

.breadcrumbs .breadcrumbs-item a{
	color:#666;
	text-decoration:none;
}

.breadcrumbs .breadcrumbs-itemfirst{
    padding-left: 0px;
}
.breadcrumbs .breadcrumbs-itemlast{
    padding-right: 0px;
    color:#999;
}

.breadcrumbs .dropdown {
	border:0px;
	padding: 1px;
	_float:left;
}
.breadcrumbs .dropdownfocus{
	border: 1px solid #ddd;
    border-bottom: 1px solid #bbb;
    padding: 0;
}
.breadcrumbs .dropdown .icon-arrow-down{
	top: 9px;
	right: 9px;
}
.breadcrumbs .dropdownfocus .icon-arrow-down{
	top: 8px;
	right: 8px;
}

