<!doctype html>
<head>
  <meta charset="utf-8">
  <title>Brix &mdash; UX</title>
  {% include html5-shim.html %}
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/post.css">
  <style>
      #page {
          margin-left: 201px;
          max-width: 100%;
      }
      #page iframe {
          width: 100%;
      }
  </style>
</head>
<body>
  {% include _aside.html %}
  <div id="page">{{ content }}</div>
  <footer id="footer">
    <div id="bottom-nav">
      {% if page.previous %}
        <a rel="prev" href="/brix{{page.previous.url}}">&larr; 上一篇</a>
      {% endif %}
      {% if page.next %}
        <a rel="next" href="/brix{{page.next.url}}">下一篇 &rarr;</a>
      {% endif %}
    </div>
  </footer>
  <script src="http://a.tbcdn.cn/s/kissy/1.2.0/kissy.js"></script>
</body>
