<!doctype html>
<html>
<head>
  {% include head.html %}
</head>
<body>
  {% include site-nav.html %}
  <aside id="aside">
    <div id="logo">
      <a href="/brix/">Brix</a>
    </div>
    <section>
      <h3>Core</h3>
      {% assign posts = site.categories.core %}
      {% include entries.html %}
    </section>
    <section>
      <h3>Gallery</h3>
      {% assign posts = site.categories.gallery %}
      {% include entries.html %}
    </section>
  </aside>
  {% include post.html %}
  <footer id="footer">
  </footer>
  <div id="J_log" style="position:fixed;width:88px;height:18px;bottom:0;right:2px">
    <a style="position:absolute;top:1px;right:1px;z-index:999;" id="J_close" href="#">显示调试窗口</a>
  </div>
  <script src="/brix/assets/js/log4javascript.js"></script>
  <script src="http://a.tbcdn.cn/s/kissy/1.2.0/kissy.js"></script>
  <script src="/brix/assets/js/post.js"></script>
</body>
</html>
