<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Brix &mdash; UX</title>
  <link rel="stylesheet" type="text/css" href="/brix/assets/css/post.css">
</head>
<body>
  {% include _aside.html %}
  <div id="page">
    <article>
      <h1>{{ page.title }}</h1>
      {% if page.caption %}
      <p class="caption">{{ page.caption }}</p>
      {% endif %}
      {% if page.description %}
      <section class="description">{{ page.description | markdownify }}</section>
      {% endif %}
      <section>{{ content }}</section>
    </article>
  </div>
  <div id="J_log" style="position:fixed;width:600px;height:225px;bottom:0;right:2px">
    <a style="position:absolute;top:1px;right:1px;z-index:999;" id="J_close" href="#">隐藏</a>
  </div>
  <footer id="footer">
  </footer>
  <script src="http://a.tbcdn.cn/s/kissy/1.2.0/kissy.js"></script>
  <script src="/brix/assets/js/log4javascript.js"></script>
  <script src="/brix/assets/js/post.js"></script>
</body>