.dropdown {
    position: relative;
    *zoom: 1;
}
.dropdown:after { content: '\20'; display: block; height: 0; clear: both; }

.dropdown * {-moz-user-select:none;-webkit-user-select:none;}

.dropdown .dropdown-icon{
    background: url('http://img04.taobaocdn.com/tps/i4/T12oeGXjJkXXXXXXXX-32-80.png');
    _background: url('http://img01.taobaocdn.com/tps/i1/T1tAWGXjJvXXXXXXXX-32-80.png');
    display: block;
    text-indent: -9999px;
    font-size: 0px;
    overflow: hidden;
    cursor: pointer;
    position: absolute;
    background-position: 0 0;
    width: 5px;
    height: 3px;
    right: 5px;
    top: 10px;
}

.dropdown .dropdown-a,.dropdown .dropdown-span{
    background-image: url('http://img03.taobaocdn.com/tps/i3/T1s_yEXadcXXXXXXXX-300-384.png');
    _background-image: url('http://img01.taobaocdn.com/tps/i1/T15N1EXdtuXXXXXXXX-300-384.png');
    background-repeat:no-repeat;
}

.dropdown .dropdown-a{
    position:relative;
    text-decoration: none;
    color:#333;
    float:left;
    background-position:0 0px;
    margin-right: 2px;
}

.dropdown .dropdown-a .dropdown-span{
    cursor:pointer;
    float:left;
    height:24px;
    line-height:23px;
    padding:0 15px 0 5px;
    background-position:right -64px;
    margin-right: -2px;
    position:relative;
    *zoom:1;
    width:100px;
}
.dropdown .dropdown-ahover{
    background-position:0 -96px;
}
.dropdown .dropdown-ahover .dropdown-span{
    background-position:right -160px;
}

.dropdown .dropdown-aactive{
    background-position:0 -192px;
}
.dropdown .dropdown-aactive .dropdown-span{
    background-position:right -256px;
}

.dropdown .dropdown-adisabled{
    background-position:0 -288px;
}
.dropdown .dropdown-adisabled .dropdown-span{
    background-position:right -352px;
    color:#9d9d9d;
}




.dropdown .dropdown-list{
    display: none;
    width:118px;
    top:22px;left:0px;
    position: absolute;
    border:1px solid #aaa;
    background:#fff;
    z-index: 999999;
}


.dropdown .dropdown-list .dropdown-item{
    height:22px;
    line-height:22px;
    text-indent: 5px;
}


.dropdown .dropdown-list .dropdown-itemselected{
    color: #000;
    background:#fff url('http://img01.taobaocdn.com/tps/i1/T1f.5TXjXjXXXXXXXX-12-44.png') right -20px no-repeat;
}

.dropdown .dropdown-list .dropdown-itemover{
    background-color:#4187e7;
    color:#FFF;
}
